<html lang="en">
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %>

        <form method="POST" action="/search/title">
            <label>Search Title: <input type="text" name="title"></label>
            <button>Search</button>
        </form>

        <form method="POST" action="/search/category">
            <label>Searched Category:</label>
            <select name="category" required>
                <option value="">--Choose category --</option>
                <% if (categories && categories.length) { %>
                    <% categories.forEach(cat => { %>
                        <option value="<%= cat %>"><%= cat %></option>
                    <% }) %>
                <% } else { %>
                    <option disabled>No categories available</option>
                <% } %>
            </select>
            <button type="submit">Search</button>
        </form>

        <% if (error) { %>
            <p style="color: red"><%= error %></p>
        <% } %>

        <%- include('../partials/posts', { posts }) %>

        <%- include('../partials/footer') %>
    </body>
</html>